.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-weight: bold;
  font-family: "Montserrat";
}

.navbar-dark .navbar-nav .nav-link {
  color: #eee;
}

.right-nav {
  margin-left: 30px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-weight: bold;
  font-family: "Montserrat";
}

.banner {
  /* Flexbox */
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
